<li>
  <%= link_to image_tag("glyphicons_213_up_arrow.png", :alt => "upvote", :class => "vote"), upvote_comment_path(comment.id), :method => :post  %>
  <%= link_to image_tag("glyphicons_212_down_arrow.png", :alt => "downvote", :class=> "vote"), downvote_comment_path(comment.id), :method => :post %>
    <span class="up"><%= comment.upvotes.size %> ups</span>
    <span class="down"><%= comment.downvotes.size %> downs</span>
  <span class = "comment-details">
    | submitted by <%= link_to comment.user.name, profile_path(comment.user.name) %> <%= time_ago_in_words comment.created_at %> ago | 
    <%= link_to "#{comment.children.count} replies", comment_path(comment.id)%> | 
    <% if comment.parent_id %>
    <%= link_to "parent", comment_path(comment.parent_id) %>
    <% else %>
    <%= link_to "parent", link_path(comment.link) %>
    <% end %>
  </span>
  <div class = "comment-main">
    <%= comment.text %>
  </div>
</li>