<div class = "comment-form">
  <h2>New Comment:</h2>
  <%= form_for(comment, :url => comments_path) do |f| %>
    <%= f.hidden_field :parent_id %>
    <%= f.hidden_field :link_id %>
    <div class="form-group">
      <%= f.text_area :text, :rows => 10 %>
    </div>
    <%= f.submit "Submit"%>
  <% end %>
</div>