<div class="maincontent">
  <ol>
    <% links.each do |link| %>
      <li class = "main-link">
        <%= link_to("#{link.title}", link.link_url) %>
        <span class="domain">(<%= link_domain(link) %>)</span>
        <p class="link-details">submitted by <%= link_to link.user.name, profile_path(link.user.name) %> <%= time_ago_in_words link.created_at %> ago | <%= link_to "#{link.comments.count} comments", link_path(link.id) %></p>
     </li>
    <% end %>
  </ol>
</div>