<div class = "formcontent">
  <%= render "shared/errors", :record => @link %>
  <p>Submit Link:</p>
  <%= form_for(@link) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title%>
    </div>
    <div class="form-group">
      <%= f.label :link_url, "URL" %>
      <%= f.text_field :link_url %>
    </div>
    <%= f.submit "Submit Link"%>
  <% end %>
</div>