<!DOCTYPE html>
<html>
<head>
  <title>Geekwisenews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <nav>
          <ul>
            <li class = "logo">
              <a class= "logo" href = "http://geekwiseacademy.com/"><img src=<%= image_path("logo.png") %> alt = "Geekwise Academy"></a>
            </li>
            <li>
              <%= link_to("Geekwise News", links_path) %>
            </li>
            <li>
              <a href = "#">Newest</a>
            </li>
          </ul>
          <ul class = "navright">
            <% if logged_in? %>
              <li class = "welcome" ><span>Signed in as: <%= current_user.name %></span></li>
              <li><%= link_to("Logout", session_path, :method => :delete) %></li>
            <% else %>
              <li><%= link_to("Sign Up", new_user_path) %></li>
              <li><%= link_to("Login", new_session_path) %></li>
            <% end %>
          </ul>
      </nav>
    </header>
    <div class="container">
      <% if flash[:notice] %>
        <div class="flash notice"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:alert] %>
        <div class="flash alert"><%= flash[:alert] %></div>
      <% end %>
      <%= yield %>
    </div>

</body>
</html>
